@inject ICommentService commentService
@{
    //int personId = await commentService.GetUserId(User.FindFirst(ClaimTypes.NameIdentifier).Value);
}
<nav id="navmenu" class="navmenu">
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало<br></a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Map">Карта</a></li>
    <li class="dropdown">
        <a asp-area="" asp-controller="Region" asp-action="All"><span>Области</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=1>Благоевград</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=2>Бургас</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=3>Варна</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=4>Велико Търново</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=5>Видин</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=6>Враца</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=7>Габрово</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=8>Добрич</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=9>Кърджали</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=10>Кюстендил</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=11>Ловеч</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=12>Монтана</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=13>Пазарджик</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=14>Перник</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=15>Плевен</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=16>Пловдив</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=17>Разград</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=18>Русе</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=19>Силистра</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=20>Сливен</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=21>Смолян</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=22>София - Град</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=23>София - Област</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=24>Стара Загора</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=25>Търговище</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=26>Хасково</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=27>Шумен</a></li>
            <li><a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=28>Ямбол</a></li>
        </ul>
    </li>
    <li><a asp-area="" asp-controller="Destination" asp-action="Search">Търсене</a></li>
    <li><a asp-area="" asp-controller="Articul" asp-action="All">Артикули</a></li>
    <li><a asp-area="" asp-controller="Cart" asp-action="All" asp-route-personid="">Количка</a></li>
        <li><a asp-area="" asp-controller="Destination" asp-action="Add">Добави дестинация</a></li>
        <li><a asp-area="" asp-controller="Articul" asp-action="Add">Добави Артикул</a></li>
</ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
