@model CommentViewModel
@inject ICommentService commentService
@{
    int personId = await commentService.GetUserId(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    
}
<div class="row">
    <div class="col-md-12 text-center" id="info-new-comment">
        <h2>Напиши коментар</h2>
    </div>
    <div class="col-md-12" id="info-text-type">
        
        <form asp-action="Add" asp-route-destinationid="@Model.DestinationId" asp-route-personid="@Model.PersonId" method="post">
            <textarea asp-for="@Model.Text"  class="form-control" aria-required="true" rows="5"></textarea>

            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Изпрати" />

        </form>
    </div>

</div>

