@model IEnumerable<CommentViewModel>
@inject ICommentService commentService
@{
    ViewData["Title"] = "Comment";
    var comments = Model.ToList();
    int personId = await commentService.GetUserId(User.FindFirst(ClaimTypes.NameIdentifier).Value);
}

<div class="row">
    
    <div class="col-md-12 text-center" id="info-new-comment">
        <h2>Коментари</h2>
    </div>
    <div class="col-md-12" id="info-comments">
        

            <ul class="list-unstyled">
            @for (int i = 0; i < comments.Count(); i++)
            {
                var comment = comments[i];
                var fullName = comment.FirstName + " " + comment.LastName;
            <li class="media my-4">
                <div class="media-body">
                    <h4>@fullName</h4>
                    @comment.Text
                </div>
                @if(comment.PersonId == personId)
                {
                    <div class="col-md-6" style="margin-top: 3rem">
                            <a asp-controller="Comment" asp-action="Delete" asp-route-commentid="@comment.Id" asp-route-destinationid="@comment.DestinationId" class="btn btn-danger" role="button">
                            <h5 style="margin: 0">Изтрий</h5>
                        </a>
                    </div>
                }
                    <hr>
            </li>
             
            }
        </ul>
        
    </div>
</div>

