@model IEnumerable<ArticulViewModel>
@{
    ViewData["Title"] = "Articuls";
    var articuls = Model.ToList();
}
<div class="row align-items-center">

    @for (int i = 0; i < articuls.Count(); i++)
    {
            
            <div class="card" style="width: 12rem; margin: 2rem;">
                <img class="card-img-top" src="@articuls[i].ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@articuls[i].Name</h5>
                <h5 style="color: #000000">Цена: @articuls[i].Price</h5>
                <a asp-area="" asp-controller="Articul" asp-action="Details" asp-route-id="@articuls[i].Id" class="btn btn-primary">
                    Детайли
                </a>
                </div>
            </div>
            
        
}
</div>
