@{
	ViewData["Title"] = "Error";
} 

<div class="row" id="info-mid">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
        <p id="info-text">
            <img src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" alt="Alternative image" class="img-thumbnail">
            <h2>Oops, better check that URL. Page was not found.</h2>
            <br />
            <br />
            <h1> Go back to <a asp-controller="Home" asp-action="Index">Home Page</a></h1>
        </p>
    </div>
</div>
