@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center" >
        <div class="col-lg-3 text-center" >
                    <div id="block">
                        <h2 class="kurale-regular">Добре дошли!</h2>
                    </div>

            <a class="btn btn-success" id="button" role="button" asp-area="" asp-controller="Home" asp-action="Index">
                    <h2>Вход</h2>
            </a>
            <a class="btn btn-success" id="button" role="button" asp-area="" asp-controller="Home" asp-action="Index">
                    <h2>Регистрация</h2>
            </a>

        </div>
</div>

            <div class="row justify-content-center" style="margin-top:100px">
                <div class="col-lg-3">
                    <img src="~/img/1img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/2img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/3img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/4img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/5img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/6img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/7img.webp" id="startpage-img">
                </div>
                <div class="col-lg-3">
                    <img src="~/img/8img.webp" id="startpage-img">
                </div>
            </div>
