@model IEnumerable<RegionViewModel>
@inject IRegionService regionService
@inject IPersonService personService
@inject ICommentService commentService
@{
    ViewData["Title"] = "Region";
    var region = Model.ToList();
    int personId = await commentService.GetUserId(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    
}
    
    <div class="row align-items-center">
    @for (int i = 0; i < region.Count(); i++)
    {
        int percent = await personService.GetPercentRegion(personId, region[i].Id);
        <div class="col-md-3" style="margin: 10px 0;">
            <div class="card text-white bg-black mb-3 zoom" id="card-box">
                <a asp-area="" asp-controller="Region" asp-action="RegionDetails" asp-route-regionid=@region[i].Id><div class="card-header" id="card-oblasti"><h4 class="rubik-dirt-regular align-items-end">@region[i].Name</h4></div></a>
                <div class="card-body" id="card-body">
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">@percent%</div>
                </div>
            </div>
        </div>
    }
    </div>
