@model IEnumerable<DestinationViewModel>
@inject IRegionService regionService
@{
    ViewData["Title"] = "Region";
    var destinations = Model.ToList();
    var regionId = int.Parse(Context.Request.Query["regionid"]);
    string regionName = await regionService.GetName(regionId);
}

<div class="row" id="info-top">
    <div class="col-md-6 text-center" id="title-info">
        <h2>@regionName</h2>
    </div>

</div>
@for (int i = 0; i < destinations.Count(); i++)
{
    var destination = destinations[i];

    <div class="row align-items-center @(i == 0 ? "active" : string.Empty)" >
    <div class="col-md-4" id="block-oblast">
            <a asp-area="" asp-controller="Destination" asp-action="Details" asp-route-id="@destination.Id">
            <div class="row">
                <div class="col-9 zoom">
                    <h2 class="kurale-regular">@destination.Name</h2>
                </div>
                <div class="col-3 text-end">
                    <h1><i class="bi bi-check-square-fill" id="check-yes"></i></h1>
                </div>
            </div>
        </a>
    </div>
</div>
}

